<footer>
    <section class="footer-container-top">
        <div class="radar-maps">
            <p>RADAR & MAPS</p>
            
            <ul>
                <a href="">
                    <li >Current Conditions</li>
                </a>
                <a href="">
                    <li >Forcast</li>
                </a>
                <a href="">
                    <li >Satelite</li>
                </a>
            </ul>
        </div>

        <div class="news">
            <p>NEWS</p>
            
            <ul>
                <a href="">
                    <li >Weather News</li>
                </a>
                <a href="">
                    <li >Podcast</li>
                </a>
                <a href="">
                    <li >Blogs</li>
                </a>
            </ul>
        </div>

        <div class="gallery">
            <p>GALLERY</p>
            
            <ul>
                <a href="">
                    <li >Photos</li>
                </a>
                <a href="">
                    <li >Videos</li>
                </a>
                <a href="">
                    <li >Multimedia</li>
                </a>
            </ul>
        </div>

        <div class="events">
            <p>EVENTS</p>
            
            <ul>
                <a href="">
                    <li >Local</li>
                </a>
                <a href="">
                    <li >Country</li>
                </a>
                <a href="">
                    <li >State</li>
                </a>
                <a href="">
                    <li >Calendar</li>
                </a>
            </ul>
        </div>

        <div class="about-us">
            <p>ABOUT US</p>
            
            <ul>
                <a href="">
                    <li >Mission</li>
                </a>
                <a href="">
                    <li >Join the Team</li>
                </a>
                <a href="">
                    <li >Press</li>
                </a>
                <a href="">
                    <li >Contact Us</li>
                </a>

            </ul>
        </div>

    </section>

    <section class="footer-container-bottom">
        <div class="social">
            <div class="icon facebook">
                <i class="fab fa-facebook-f"></i>
            </div>
            <div class="icon twitter">
                <i class="fab fa-twitter"></i>
            </div>
            <div class="icon instagram">
                <i class="fab fa-instagram"></i>
            </div>
            <div class="icon youtube">
                <i class="fab fa-youtube"></i>
            </div>
        </div>

        <div class="legal">
            <div class="Privacy">Privacy    |</div>
            <div class="Terms">Terms    |</div>
            <div class="Permissions">Permissions    |</div>
            <div class="Credits">Credits</div>
        </div>
    </a>  
    </section>
    
</footer>