<footer>
    <section class="footer-container container" style="display: flex;">
        <div class="radar-maps">
            RADAR & MAPS
            <ul>
                <a href="">
                    <li >Current Conditions</li>
                </a>
                <a href="">
                    <li >Forcast</li>
                </a>
                <a href="">
                    <li >Satelite</li>
                </a>
            </ul>
        </div>

        <div class="news">
            NEWS
            <ul>
                <a href="">
                    <li >Weather News</li>
                </a>
                <a href="">
                    <li >Podcast</li>
                </a>
                <a href="">
                    <li >Blogs</li>
                </a>
            </ul>
        </div>

        <div class="gallery">
            GALLERY
            <ul>
                <a href="">
                    <li >Photos</li>
                </a>
                <a href="">
                    <li >Videos</li>
                </a>
                <a href="">
                    <li >Multimedia</li>
                </a>
            </ul>
        </div>

        <div class="events">
            EVENTS
            <ul>
                <a href="">
                    <li >Local</li>
                </a>
                <a href="">
                    <li >Country</li>
                </a>
                <a href="">
                    <li >State</li>
                </a>
                <a href="">
                    <li >Calendar</li>
                </a>
            </ul>
        </div>

        <div class="about-us">
            ABOUT US
            <ul>
                <a href="">
                    <li >Mission</li>
                </a>
                <a href="">
                    <li >Join the Team</li>
                </a>
                <a href="">
                    <li >Press</li>
                </a>
                <a href="">
                    <li >Contact Us</li>
                </a>

            </ul>
        </div>

    </section>

    <section class="footer-container container">
        <div class="social">
            <div class="facebook"></div>
            <div class="twitter"></div>
            <div class="instagram"></div>
            <div class="youtube"></div>
        </div>

        <div class="legal" style="display: flex;">
            <div class="Privacy">Privacy |</div>
            <div class="Terms">Terms</div>
            <div class="Permissions">| Permissions |</div>
            <div class="Credits">Credits</div>
        </div>
    </a>  
    </section>
    
</footer>