<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('partials/head') %>
<body id="landing-page-body">
<!-- Header -->
    <%- include('partials/header') %>
    <main class="container">
        <!-- Hero Image -->
        <div id="col">
            <img src="https://picsum.photos/600/200">
            <div>
                <p>Weather Placeholder</p>
            </div>
        </div>
        <!-- Tagline -->
        <h1>Find the Storm. Be the Storm</h1>
        <div class="row">
            <!-- Map -->
            <div class="col">
                <p>Map Placeholder</p>
                <img src="https://via.placeholder.com/150" alt="">
            </div>
            <!-- Sign Up Form -->
            <div class="col" id="signup">
                <form action="/admin" method="POST">
                    <input type="text" name="firstName" placeholder="First Name">
                    <input type="text" name="lastName" placeholder="Last Name">
                    <input type="text" name="email" placeholder="Email Address">
                    <button type="submit" value="upload">Sign Up</button>
                </form>
            </div>
        </div>
        <div class="row">
            <!-- News -->
            <div class="col" id="news">
                <h2>News</h2>
                <ul>
                    <li class="news-article">
                        <img src="https://via.placeholder.com/150" alt="article image">
                        <div class="news-article-text">
                            <p>News Article</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error labore vel odio reprehenderit, excepturi autem alias distinctio sapiente architecto tempore eaque voluptas asperiores voluptates a velit. Quis tenetur illo at.</p>
                        </div>
                    </li>
                    <li class="news-article">
                        <img src="https://via.placeholder.com/150" alt="article image">
                        <div class="news-article-text">
                            <p>News Article</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error labore vel odio reprehenderit, excepturi autem alias distinctio sapiente architecto tempore eaque voluptas asperiores voluptates a velit. Quis tenetur illo at.</p>
                        </div>
                    </li>
                    <li class="news-article">
                        <img src="https://via.placeholder.com/150" alt="article image">
                        <div class="news-article-text">
                            <p>News Article</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error labore vel odio reprehenderit, excepturi autem alias distinctio sapiente architecto tempore eaque voluptas asperiores voluptates a velit. Quis tenetur illo at.</p>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- Events -->
            <div class="col" id="event">
                <h2>Events</h2>
                <ul>
                    <li class="event-article">
                        <img src="https://via.placeholder.com/150" alt="event image">
                        <div class="event-text">
                            <p>News Article</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error labore vel odio reprehenderit, excepturi autem alias distinctio sapiente architecto tempore eaque voluptas asperiores voluptates a velit. Quis tenetur illo at.</p>
                        </div>
                    </li>
                    <li class="event-article">
                        <img src="https://via.placeholder.com/150" alt="event image">
                        <div class="event-text">
                            <p>News Article</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error labore vel odio reprehenderit, excepturi autem alias distinctio sapiente architecto tempore eaque voluptas asperiores voluptates a velit. Quis tenetur illo at.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Gallery -->
        <div id="gallery">
            <h2>Gallery</h2>
            <img src="https://via.placeholder.com/150" alt="">
        </div>
    </main>
<!-- Footer -->
    <%- include('partials/footer') %>
</body>
</html>