<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('partials/head') %>
<body id="landing-page-body">
<!-- Header -->
    <%- include('partials/header') %>
    <main>
        <!-- Hero Image -->
        <div id="hero-image">
            <img src="https://picsum.photos/600/200">
            <div>
                <p>Weather Placeholder</p>
            </div>
        </div>
        <!-- Tagline -->
        <h1>Find the Storm. Be the Storm</h1>

        <area shape="poly" coords="0,356,10,361,12,362,13,365,20,369,29,370,34,375,36,375,40,378,47,381,50,383,55,383,62,386,68,389,70,390,76,392,83,393,97,387,101,388,104,390,107,391,110,393,113,396,117,401,126,408,130,410,137,410,141,412,145,414,149,414,152,416,156,417,161,418,164,415,165,415,166,417,166,422,172,427,174,430,181,436,182,440,181,445,181,447,187,451,190,449,192,449,192,452,195,452,198,454,202,457,202,460,210,464,219,465,222,469,227,470,227,474,230,476,239,472,237,468,234,465,236,464,239,462,240,459,243,457,247,458,250,461,252,463,251,466,253,471,256,473,259,478,261,482,259,483,262,487,260,489,261,491,261,500,260,503,263,506,261,510,259,512,257,517,252,517,249,519,249,524,246,524,244,527,247,528,244,531,0,531" href="/?epac" alt="Click for Eastern Pacific" title="Click for Eastern Pacific">
        <!-- Map -->
        <div id="map">
            <img src="https://via.placeholder.com/150" alt="">
        </div>
        <!-- Sign Up Form -->
        <div id="signup">
            <form action="/admin/newuser" method="POST">
                <input type="text" name="firstName" placeholder="First Name">
                <input type="text" name="lastName" placeholder="Last Name">
                <input type="text" name="email" placeholder="Email Address">
                <button type="submit" value="upload">Sign Up</button>
            </form>
        </div>
        <!-- News -->
        <div id="news">
            <h2>News</h2>
            <img src="https://via.placeholder.com/150" alt="">
        </div>
        <!-- Events -->
        <div id="events">
            <h2>Events</h2>
            <img src="https://via.placeholder.com/150" alt="">
        </div>
        <!-- Gallery -->
        <div id="gallery">
            <h2>Gallery</h2>
            <img src="https://via.placeholder.com/150" alt="">
        </div>
    </main>
<!-- Footer -->
    <%- include('partials/footer') %>
</body>
</html>