<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('partials/head') %>
<body id="landing-page-body">
<!-- Header -->
    <%- include('partials/header') %>
    <main class="container">
        <!-- Hero Image -->
        <div id="col">
            <div id="hero-image">
                <form>
                    <input type="text" placeholder="Search for a City" id="hero-search"></input>
                </form>
                <p>San Jose, CA 70°F</p>
            </div>
        </div>
        <!-- Tagline -->
        <div id="tagline">
            <h1>Find the Storm. Be the Storm</h1>
        </div>
        <div class="row">
            <!-- Map -->
            <div class="col-7" id="map">
                <div class="map-action">
                </div>
                <div class="map-detail">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d6509202.448614369!2d-123.8103776706675!3d37.192592312995316!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1595438245027!5m2!1sen!2sus" width="552" height="318" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
                <div class="map-sightings">
                </div>
            </div>
            <!-- Sign Up Form -->
            <div class="col-5">
                <div id="signup">
                    <p>Ready for your next thrill and adventure?</p>
                    <strong>
                        <p>JOIN US!</p>
                    </strong>
                    <form action="/admin/newuser" id="signup-form"method="POST">
                        <input type="text" name="firstName" placeholder="First Name" class="formbox">
                        <input type="text" name="lastName" placeholder="Last Name"class="formbox">
                        <input type="text" name="email" placeholder="Email Address"class="formbox">
                        <button type="submit" value="upload">Sign Up</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- News -->
            <div class="col-7" id="news">
                <h2>News</h2>
                <ul>
                    <li class="news-article">
                        <div class="news-image1">
                        </div>
                        <div class="news-article-text">
                            <p>Mega Storm Hits Southern California</p>
                            <p>The same week we saw a record-early, sixth tropical storm (Fay) develop in the Atlantic, NOAA announced an official ENSO La Nina Watch. Which means, over the next six months, conditions will be favorable for a La Nina to develop.</p>
                        </div>
                    </li>
                    <li class="news-article">
                        <div class="news-image2">
                        </div>
                        <div class="news-article-text">
                            <p>After the Storm Clears, find the best sunsets</p>
                            <p>At this point, surfers are probably getting excited; after all more storms equal more surf, right? But they need to be careful what they wish for. More storms also bring more chances for destruction, including major landfalling hurricanes.</p>
                        </div>
                    </li>
                    <li class="news-article">
                        <div class="news-image3">
                        </div>
                        <div class="news-article-text">
                            <p>Ocean Freighters take a Massive Beating</p>
                            <p>One signal, the latest Atlantic sea surface temperature forecast for the peak of the hurricane season, offers a slightly contrasting view. When researchers looked at the four past seasons most similar to what we expect this fall.</p>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- Events -->
            <div class="col-5" id="event">
                <h2>Events</h2>
                <div class="event-block">
                    <ul>
                        <li class="event-article">
                            <div class="event-image1">
                            </div>
                            <div class="event-text">
                                <strong><a href="">Dienstag 19-5-20 | Casual Server</a></strong>
                                <p>Fabian Fero and GERMAN INFINITE FLIGHT ALLIANCE</p>
                                <strong><p>JUL 18</p></strong>
                                <a href="">RSVP</a>
                            </div>
                        </li>
                        <li class="event-article">
                            <div class="event-image2">
                            </div>
                            <div class="event-text">
                                <strong><a href="">Dienstag 19-5-20 | Casual Server</a></strong>
                                <p>Fabian Fero and GERMAN INFINITE FLIGHT ALLIANCE</p>
                                <strong><p>JUL 21</p></strong>
                                <a href="">RSVP</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Gallery -->
        <div class="row">
            <div class="col" >
                <h2>Gallery</h2>
                <div class="row row-cols-2" id="gallery">
                    <div class="col" id="gallery-image-L"></div>
                    <div class="col" id="gallery-image-M"></div>  
                    <div class="col" id="gallery-image-M"></div>    
                </div>
            </div>
        </div>
        <!-- About -->
        <div class="row">
            <div class="col" id="About">
                <h2>About</h2>
                <div class="about-Image">
                    <img src="https://via.placeholder.com/100x200" class="profile" alt="">
                    <img src="https://via.placeholder.com/100x200" class="profile" alt="">
                    <img src="https://via.placeholder.com/100x200" class="profile" alt="">
                    <img src="https://via.placeholder.com/100x200" class="profile" alt="">
                    <img src="https://via.placeholder.com/100x200" class="profile" alt="">
                    <div class="about-Description">
                        <p>We combine weather data, technology, and human insight to create fun storm-chasing experiences.</p>
                        <br>
                        <a href="">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
<!-- Footer -->
    <%- include('partials/footer') %>
</body>
</html>