<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('partials/head') %>
<body id="landing-page-body">
    <!-- Sign Up Confirmation -->
    <!-- <div class="signup-overlay">
        <div id="signup-confirm">
            <p>Success!</p>
            <p>We've sent your sign-up request to our Admin team.</p>
            <p>We'll use your email address</p>
            <p>dwightschrute@dundermifflin.com</p>
            <p>You should receive an email confirmation shortly.</p>
        </div>
    </div> -->
<!-- Header -->
    <%- include('partials/header') %>
    <main class="container">
        <!-- Hero Image -->
        <div id="col">
            <div id="hero-image">
                <form>
                    <input type="text" placeholder="Search for a City" id="hero-search"></input>
                </form>
                <p>San Jose, CA 70°F</p>
            </div>
        </div>
        <!-- Tagline -->
        <div id="tagline">
            <h1>Find the Storm. Be the Storm</h1>
        </div>
        <div class="row">
            <!-- Map -->
            <div class="col-7" id="map">
                <div class="map-detail">
                    <iframe width="100%" height="100%" src="https://embed.windy.com/embed2.html?lat=35.228&lon=-117.290&detailLat=35.228&detailLon=-117.290&width=650&height=450&zoom=6&level=surface&overlay=wind&product=ecmwf&menu=&message=&marker=&calendar=now&pressure=&type=map&location=coordinates&detail=&metricWind=default&metricTemp=default&radarRange=-1" frameborder="0"></iframe>
                </div>
            </div>
          
            <!-- Sign Up Form -->
            <div class="col-5">
                <div id="signup">
                    <p>Ready for your next thrill and adventure?</p>
                    <strong>
                        <p>JOIN US!</p>
                    </strong>
                    <form action="/admin/newuser" id="signup-form"method="POST">
                        <input type="text" name="firstName" placeholder="First Name" class="formbox"id="firstName">
                        <input type="text" name="lastName" placeholder="Last Name"class="formbox">
                        <input type="text" name="email" placeholder="Email Address"class="formbox">
                        <button id="signup-btn" type="submit" value="upload">Sign Up</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- News -->
            <div class="col-7" id="news">
                <h2>News</h2>
                <ul>
                    <li class="news-article">
                        <div class="news-image1">
                        </div>
                        <div class="news-article-text">
                            <p>Mega Storm Hits Southern California</p>
                            <p>The same week we saw a record-early, sixth tropical storm (Fay) develop in the Atlantic, NOAA announced an official ENSO La Nina Watch. Which means, over the next six months, conditions will be favorable for a La Nina to develop.</p>
                        </div>
                    </li>
                    <li class="news-article">
                        <div class="news-image2">
                        </div>
                        <div class="news-article-text">
                            <p>After the Storm Clears, find the best sunsets</p>
                            <p>At this point, surfers are probably getting excited; after all more storms equal more surf, right? But they need to be careful what they wish for. More storms also bring more chances for destruction, including major landfalling hurricanes.</p>
                        </div>
                    </li>
                    <li class="news-article">
                        <div class="news-image3">
                        </div>
                        <div class="news-article-text">
                            <p>Ocean Freighters take a Massive Beating</p>
                            <p>One signal, the latest Atlantic sea surface temperature forecast for the peak of the hurricane season, offers a slightly contrasting view. When researchers looked at the four past seasons most similar to what we expect this fall.</p>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- Events -->
            <div class="col-5" id="event">
                <h2>Events</h2>
                <div class="event-block">
                    <ul>
                        <li class="event-article">
                            <div class="event-image1">
                            </div>
                            <div class="event-text">
                                <strong><a href="">Dienstag 19-5-20 | Casual Server</a></strong>
                                <p>Fabian Fero and GERMAN INFINITE FLIGHT ALLIANCE</p>
                                <strong><p>JUL 18</p></strong>
                                <a href="">RSVP</a>
                            </div>
                        </li>
                        <li class="event-article">
                            <div class="event-image2">
                            </div>
                            <div class="event-text">
                                <strong><a href="">Dienstag 19-5-20 | Casual Server</a></strong>
                                <p>Fabian Fero and GERMAN INFINITE FLIGHT ALLIANCE</p>
                                <strong><p>JUL 21</p></strong>
                                <a href="">RSVP</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Gallery -->
        <div class="row">
            <div class="col" >
                <h2>Gallery</h2>
                <div class="row row-cols-2" id="gallery">
                    <div class="col" id="gallery-image-L">
                        <img src="../images/Gallery Image (Largest Photo _ Left).jpg" class="img-fluid" alt="Responsive image">
                    </div>
                    <div class="col" id="gallery-image-M">
                        <div class="gallery-image-M1">
                            <img src="../images/Gallery Image (Upper Right).jpg" class="img-fluid" alt="Responsive image">
                        </div>
                        <div class="gallery-image-M1">
                            <img src="../images/Gallery Image (Bottom Right).jpg" class="img-fluid" alt="Responsive image">
                        </div>
                    </div>  
                </div>
            </div>
        </div>
        <!-- About -->
        <div class="row">
            <div class="col" id="About">
                <h2>About</h2>
                <div class="about-Image">
                    <img src="../images/About Us.png" class="profile" alt="Profile picture of team">
                    <div class="about-Description">
                        <p>We combine weather data, technology, and human insight to create fun storm-chasing experiences.</p>
                        <br>
                        <a href="">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
<!-- Footer -->
    <%- include('partials/footer') %>
</body>
</html>