/* Reset */
*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS Variables*/
:root {
    /* Brand Colors*/
    --background: #242E37;
    --gray: #9F9EA5;
    --purple: #464D77;
    --yellow: rgba(255, 225, 3, 0.9);
  }

/* Layout */
body {
    background-color: var(--background);
}

h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 0;
}

h2 {
    color: var(--yellow);
    text-transform: uppercase;
    font-size: 24px;
}

.row {
    margin-bottom: 24px;
}

/* News Section */
#news ul{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}
.news-article {
    display: flex;
    flex-direction: row;
    padding: 8px;
    flex-wrap: wrap;
}

.news-article-text {
    margin-left: 8px;
    max-width: 300px;
}

/* Event Section */
.event-block {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
}

.event-article {
    display: flex;
    flex-direction: row;
    padding: 8px;
    flex-wrap: wrap;
}

.event-text {
    margin-left: 8px;
    max-width: 280px;
    display: flex;
    flex-direction: column;
}

/* Sign Up Section */

#signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 8px;
}

#signup-form {
    display: flex;
    flex-direction: column;
}

.formbox {
    margin: 4px;
}

/* Hero Image */

#hero-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://picsum.photos/1394/219");
    height: 219px;
}
/* Tagline */
#tagline {
    background-color: var(--gray);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    margin: 16px 0px 16px 0px;
}

/* About Section */

.about-Description {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.about-Image {
    display: flex;
}