/* Reset */
*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS Variables*/
:root {
    /* Brand Colors*/
    --background: #242E37;
    --gray: #9F9EA5;
    --purple: #464D77;
    --yellow: rgba(255, 225, 3, 0.9);
  }

/* Layout */
body {
    background-color: var(--background);
}

h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 0;
}

h2 {
    color: var(--yellow);
    text-transform: uppercase;
    font-size: 24px;
}

.row {
    margin-bottom: 24px;
}

button {
width: 141px;
height: 41px;
background-color: var(--yellow);
border: 0.5px solid #000000;
border-radius: 5px;
}

/* News Section */
#news ul{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}
.news-article {
    display: flex;
    flex-direction: row;
    padding: 8px;
    flex-wrap: wrap;
}

.news-article p {
    color: #000000;
}

.news-image1 {
    overflow: hidden;
    background-image: url("../images/News\ Article\ \(Mega\ Storm\ SoCal\).png");
    background-size: cover;
    max-width: 200px;
    width: 200px;
    background-color: var(--gray);
}

.news-image2 {
    overflow: hidden;
    background-image: url("../images/News\ Article\ \(After\ The\ Storm\ Clears\).jpg");
    background-size: cover;
    max-width: 200px;
    width: 200px;
    background-color: var(--gray);
}

.news-image3 {
    overflow: hidden;
    background-image: url("../images/News\ Article\ \(Ocean\ Freighters\).jpg");
    background-size: cover;
    max-width: 200px;
    width: 200px;
    background-color: var(--gray);
}

.news-article-text {
    margin-left: 16px;
    max-width: 380px;
}

.news-article-text p:first-child{
    font-size: 24px;
}

/* Event Section */
.event-block {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
}

.event-article {
    display: flex;
    flex-direction: row;
    padding: 8px;
    flex-wrap: wrap;
}

.event-article p {
    color: #000000;
}

.event-image1 {
    overflow: hidden;
    background-image: url("../images/Event\ 1.jpg");
    background-size: cover;
    max-width: 200px;
    width: 200px;
    background-color: var(--gray);
}

.event-image2 {
    overflow: hidden;
    background-image: url("../images/Event\ 2.jpg");
    background-size: cover;
    max-width: 200px;
    width: 200px;
    background-color: var(--gray);
}

.event-text {
    margin-left: 8px;
    max-width: 220px;
    display: flex;
    flex-direction: column;
}

/* Sign Up Section */

#signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--purple);
    padding: 16px;
    color: #ffffff;
}

#signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formbox {
    height: 35px;
    width: 332px;
    border-radius: 5px;
    padding: 8px;
    margin: 4px;
}

#signup-form button{
   margin-top: 8px;
   text-transform: uppercase;
}

/* Sign Up Confirm Section */

#signup-confirm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--purple);
    padding: 16px;
    color: #ffffff;
    position: absolute;
    top: 11%;
    left: 58%;
    height: 289px;
    width: 441px;
}

#signup-confirm p:first-child {
    color: var(--yellow);
}

#signup-confirm p:nth-child(3) {
    color: var(--yellow);
}

#signup-confirm p:last-child {
    font-weight: bold;
}

.signup-overlay {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 16px;
    width: 100%;
    height: 700%;
    position: absolute;
    z-index: 20;
}

/* Hero Image */

#hero-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../images/HeroBannerImage.jpg");
    background-size: cover;
    background-position-y: -330px;
    background-repeat: no-repeat;
    height: 219px;
    color: #ffffff;
}

#hero-search{
    width: 560px;
    height: 42px;
    padding: 8px;
    margin: 24px;
}
/* Tagline */
#tagline {
    background-color: var(--gray);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    margin: 16px 0px 16px 0px;
}

/* About Section */

.about-Description {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.about-Image {
    display: flex;
}

.profile{
    max-width: 600px;
}

/* Map Section */

#map{
    display: flex;
    flex-direction: row;
}

.map-detail{
    background-color: #ffffff;
    width: 100%;
    max-width: 650px;
}


/* Gallery Section */

#gallery{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    max-width: 1392px;
    height: 578px;
    padding: 16px;
}

#gallery-image-L{
    display: flex;
    flex-direction: row;
    flex: auto;
    width: 100%;
}

#gallery-image-M{
    display: flex;
    flex-direction: column;
    flex: auto;
    width: 100%;
}

.gallery-image{
    display: flex;
    flex-direction: column;
    flex: auto;
    width: 100%;
}

.gallery-image-M1{
    display: flex;
    flex-direction: column;
    flex: auto;
    width: 79%;
    margin-bottom: 8px;
}

/* ***********************************ADMIN STYLING*************************** */

#adminPage {
    background-color: #464D77;
    width: 100%;
}

#dashLabel {
    width: 919px;
    height: 60px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #000000;
    border-radius: 10px;
}

.mainBox {
    background-color: #ECF7FF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 929px;
    width: 919px;
}

.innerbox1 {
    width: 870px;
    height: 861px;
    display: flex;
    flex-direction: column;
    justify-content: top center;
    align-items: center;
    background: #D5D5D5;
    border-radius: 10px;
}

.innerbox1 h1 {
    font-size: 40px;
    font-weight: bold;
    margin: 29px;
}

#usersList {
    margin-bottom: 10px;
    list-style: none;
}

.innerbox1 a {
    text-decoration: none;
    color: black;
}

.innerbox1 a:hover {
    text-decoration: none;
    color: black;
}

/* .innerbox2 {
    position: relative;
    width: 354px;
    height: 400px;
    background: #D5D5D5;
    border-radius: 10px;
} */